<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="lg:w-1/2 md:w-3/5 w-5/6 flex flex-col items-center justify-center min-h-screen gap-4 p-4 md:p-6 mx-auto">
        <div class="flex flex-col items-center gap-2 text-center">
          <i class="fas fa-envelope-circle-check text-5xl text-blue-500"></i>
          <h1 class="font-semibold text-2xl sm:text-3xl">Message Sent Successfully</h1>
          <p class="max-w-[600px] text-gray-500 sm:text-lg md:text-xl dark:text-gray-400">
            Thank you for reaching out to me! Your message has been received, and I'll get back to you as soon as possible.
          </p>
        </div>
      
        <div class="flex w-full p-4 md:p-6 bg-gray-100 rounded-b-md">
            <button class="mx-auto px-4 py-2 border border-blue-600 text-blue-600 rounded hover:bg-blue-50">
              <a href="https://asir48.netlify.app/">Back To Home</a> 
            </button>
        </div>
    </div>
</body>
</html>
